In [35]:
import pandas as pd

In [36]:
K = pd.read_csv("C:/Users/Kaustubh.DESKTOP-6MT3302/Desktop/Dataset/Datasets/iris.csv")

In [37]:
K

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,virginica
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

In [38]:
K = K.drop(labels=["Unnamed: 0"],axis=1)

In [39]:
K = K.rename(columns={'Sepal.Length':'Sepal_Length','Sepal.Width':'Sepal_Width','Petal.Length':'Petal_Length','Petal.Width':'Petal_Width'})

In [40]:
K.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [41]:
K.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [42]:
cat = []
con = []
for i in K.columns:
    if(K[i].dtype=="object"):
        cat.append(i)
    else:
        con.append(i)

In [43]:
cat

['Species']

In [44]:
con

['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width']

In [45]:
def ANOVA(CON,CAT,DF):
    from statsmodels.api import OLS
    from statsmodels.formula.api import ols
    rel = CON+" "+"~"+" "+CAT
    model = ols(rel,DF).fit()
    from statsmodels.stats.anova import anova_lm
    anova_results = anova_lm(model)
    Q = pd.DataFrame(anova_results)
    a = Q['PR(>F)'][CAT]
    print("%.40f"%a)

In [46]:
ANOVA("Sepal_Length","Species",K)

0.0000000000000000000000000000001669669191

In [47]:
ANOVA("Sepal_Width","Species",K)

0.0000000000000000449201713330856452531324

In [48]:
ANOVA("Petal_Length","Species",K)

0.0000000000000000000000000000000000000000

In [49]:
ANOVA("Petal_Width","Species",K)

0.0000000000000000000000000000000000000000

In [50]:
Y = K[["Species"]]

In [57]:
X = K[["Sepal_Length","Sepal_Width","Petal_Length","Petal_Width"]]

In [58]:
X.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [59]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=30)

In [60]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(random_state=17,n_estimators=5,min_samples_leaf=2)
model = rfc.fit(xtrain,ytrain)
pred=model.predict(xtest)

from sklearn.metrics import accuracy_score
accuracy_score(ytest,pred)

<ipython-input-60-421076b3ef67>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = rfc.fit(xtrain,ytrain)

0.9333333333333333

In [65]:
for i in range(2,10,1):
    from sklearn.ensemble import RandomForestClassifier
    rfc=RandomForestClassifier(random_state=17,n_estimators=3,min_samples_leaf=i)
    model = rfc.fit(xtrain,ytrain)
    pred=model.predict(xtest)

    from sklearn.metrics import accuracy_score
    print(i,accuracy_score(ytest,pred))

2 0.9333333333333333
3 0.9333333333333333
4 0.9333333333333333
5 0.9333333333333333
6 0.9333333333333333
7 0.9333333333333333
8 0.9333333333333333
9 0.9333333333333333

<ipython-input-65-b7abcc392851>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = rfc.fit(xtrain,ytrain)
<ipython-input-65-b7abcc392851>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = rfc.fit(xtrain,ytrain)
<ipython-input-65-b7abcc392851>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = rfc.fit(xtrain,ytrain)
<ipython-input-65-b7abcc392851>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = rfc.fit(xtrain,ytrain)
<ipython-input-65-b7abcc392851>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = rfc.fit(xtrain,ytrain)
<ipython-input-65-b7abcc392851>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = rfc.fit(xtrain,ytrain)
<ipython-input-65-b7abcc392851>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = rfc.fit(xtrain,ytrain)
<ipython-input-65-b7abcc392851>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model = rfc.fit(xtrain,ytrain)